p {
    color: #B24C6D;
    
    font-size: 20px;
    font-family: Arial, sans-serif;

}
.special-text {
    color: red;
    font-weight: bold;
}

body {
    background-color: #D6FFDA;
}

h1{
    color: #B24C6D;
}
.block{
    display: block;
}

h2{
    color: #B24C6D;
}